<div class="created_updated_details alert">
	Created <strong><%= time_tag(item.created_at, :format=>'%d/%m/%y %R') %></strong> by <strong><%= link_to item.created_by.name, "mailto:#{ item.created_by.email }" %></strong>
	<% if item.updated_at != item.created_at %>
	<br/>
	Updated <strong><%= time_tag(item.updated_at, :format=>'%d/%m/%y %R') %></strong> by <strong><%= link_to item.updated_by.name, "mailto:#{ item.updated_by.email }" %></strong>
	<% end %>
</div>