<div class="created_updated_details">
	Created <strong><%= time_tag(item.created_at, :format=>'%d/%m/%y %R') %></strong> by <strong><%= item.created_by.name %></strong>
	<% if item.updated_at != item.created_at %>
	<br/>
	Updated <strong><%= time_tag(item.updated_at, :format=>'%d/%m/%y %R') %></strong> by <strong><%= item.updated_by.name %></strong>
	<% end %>
</div>