<div class='li_handle'>
	<h3><span class="text_content default_label">Table - vertical</span></h3>
	<table class="table table-bordered table-striped table-hover">
		<tr>
			<th>Heading</th>
			<th>Heading</th>
			<th>Heading</th>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
	</table>
</div>
<div class="form_controls form-horizontal">
	<form action="#">
		<%= render 'apps/constructs/form_builder/required_options', :type => 'select_box' %>
		<div class="form-group no-margin">
			<div class="col-sm-12 options">
				<div class="btn-group">
					<%= link_to '<span class="glyphicon glyphicon-remove"></span> <span class="toggle_text">Remove</span>'.html_safe, '#', :class=>'btn-sm btn btn-danger remove_field' %>
					<%= link_to '<span class="glyphicon glyphicon-pencil"></span> <span class="toggle_text">Edit headings</span>'.html_safe, '#', "data-toggle" => "modal", "data-target" =>'#options_modal', :class=>'btn-sm btn btn-warning launch_modal' %>
				</div>
			</div>
			
			<div class="hidden default_option_display">
				<a href="#" class="option disabled">Option</a>
			</div>
		</div>						
	</form>				
</div>
<div class="clear"></div>